.menu {
  &__btn {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;

    font-family: var(--font-secondary);
    font-size: 15px;

    color: var(--links-color);
  }

  &__link {
    transition: color var(--transition);

    @include hover {
      color: var(--link-hover-color);
    }

    &--current {
      position: relative;
      display: inline-block;

      color: var(--current-link-color);
      pointer-events: none;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: 3px;
        background-color: var(--primary);
      }
    }
  }
}
