@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-transition: 0.01s !important;
    -o-transition: 0.01s !important;
    transition: 0.01s !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
input {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
