.about {
  &__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    // 42px @ 320 -> 80px @ 768
    gap: clamp(42px, 8.48vw + 14.86px, 80px);
    padding-inline: 25px;

    @include mq('tablet-lg') {
      flex-direction: row;
      justify-content: center;
      gap: 120px;
    }
  }

  &__content {
    @extend %flex-column;
    width: min(430px, 100%);
    gap: 25px;

    @include mq('tablet-lg') {
      flex-basis: 450px;
      translate: 11px 0;
    }
  }

  &__title {
    @include mq('tablet', max) {
      text-align: center;
    }
  }

  &__text {
    font-family: var(--font-secondary);

    @include mq('tablet', max) {
      text-align: justify;

      br {
        display: none;
      }
    }
  }

  &__image-img {
    // 354px @ 320 -> 408px @ 768
    height: clamp(354px, 12.05vw + 315.43px, 408px);
  }
}
