.hero {
  height: 100dvh;
  min-height: 560px;
  max-height: 908px;
  padding-top: calc(var(--header-height) + 60px);

  color: var(--white);
  background:
    var(--noise-url),
    var(--gradient-hero) var(--bg-dark-alt);

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__offer {
    @extend %flex-column;
    align-items: start;
    flex-basis: 460px;
    gap: 42px;
    padding-top: min(15dvh, 163px);

    @media (max-height: 725px) {
      justify-content: center;
      padding-top: 0;
    }
  }

  &__title {
    font-size: 44px;
    letter-spacing: 0;
  }

  &__text {
    font: 15px/1.6 var(--font-secondary);
    color: var(--text-on-dark-secondary);
  }

  &__image-img {
    width: auto;
    height: 100%;
  }
}
