.pets {
  padding-top: 84px;
  background-color: var(--bg-muted);

  &__inner {
    @extend %flex-column;
    align-items: center;

    text-align: center;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 56px;
    }
  }

  &__slider {
    justify-content: start;
    gap: 49px;

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    .slider__track {
      width: min(990px, 100%);
    }

    .slider__inner {
      gap: 90px;
    }
  }
}
