.pets {
  background-color: var(--bg-muted);

  @include mq('tablet') {
    padding-top: 84px;
  }

  .page-pets & {
    padding-top: 80px;

    .pets__title {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__inner {
    @extend %flex-column;
    align-items: center;
    // 42px @ 320 -> 60px @ 768
    gap: clamp(42px, 4.02vw + 29.14px, 60px);

    // 10px @ 320 -> 30px @ 768
    padding-inline: clamp(10px, 4.46vw - 4.29px, 30px);

    text-align: center;
  }

  &__slider {
    // 40px @ 768 -> 90px @ 1280
    --gap: clamp(40px, 9.77vw - 35px, 90px);

    .slider__track {
      width: min(990px, 100%);
    }

    .slider__inner {
      gap: var(--gap);
    }

    .slider__slide {
      display: grid;
      place-items: center;
      flex-basis: 100%;

      @include mq('tablet') {
        flex-basis: calc(50% - var(--gap) / 2);
      }

      @include mq('tablet-lg') {
        flex-basis: calc(33.33% - var(--gap) / 1.5);
      }
    }

    .pet-card {
      @include mq('tablet-lg') {
        width: 100%;
      }
    }

    .slider__nav-btn {
      &--prev {
        @include mq('tablet-lg') {
          translate: -7px 0;
        }
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    width: 100%;
    gap: 30px 40px;
  }
}
