@font-face {
  font-family: 'Arial Web';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Arial-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Arial Web';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Arial-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Georgia Web';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Georgia-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Georgia Web';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Georgia-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Georgia Web';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Georgia-Bold.woff2') format('woff2');
}
