html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;

  &:has(dialog[open]) {
    overflow: clip;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation: none !important;
    transition: 0.01s !important;
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100dvh;
  min-inline-size: $min-viewport-width;

  font: 16px/1.6 var(--font-primary);
  background-color: var(--bg);
  color: var(--text-primary);

  overflow-x: clip;
}

.title {
  font-size: 35px;
  line-height: 1.3;
  font-weight: 400;

  color: var(--color-text-secondary);
}

.text > p:not(:last-child) {
}

.btn {
  display: inline-grid;
  place-content: center;
  padding: 15px 45px;

  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;

  color: var(--text-btn);
  background-color: var(--primary);
  border-radius: 100px;

  transition: background-color var(--transition);

  @extend %no-highlight;

  @include hover {
    background-color: var(--primary-hover);
  }

  &:focus-visible {
    border-radius: 100px;
  }
}

:focus {
  outline: transparent;
  -webkit-focus-ring-color: transparent;
}

:focus-visible {
  outline: var(--outline-size) solid var(--primary);
  outline-offset: var(--outline-offset);
  border-radius: 4px;
}
