.container {
  width: min(100%, var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.locked {
  overflow: clip;
}

.overlay {
  &::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: calc(var(--header-z) + 1);

    background-color: var(--black);
    opacity: 0.6;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
