:root {
  // Fonts
  --font-primary: Georgia, 'Georgia Web', serif;
  --font-secondary: Arial, 'Arial Web', system-ui;
  --spacing-wide: 0.06em;

  // === Pallete === //
  --white: #ffffff;
  --black: #292929;
  --brown: #211f20;

  --gray-100: #fafafa;
  --gray-200: #f6f6f6;
  --gray-300: #cdcdcd;
  --gray-600: #b2b2b2;
  --gray-800: #545454;
  --gray-850: #4c4c4c;

  --primary: #f1cdb3;
  --primary-hover: #fddcc4;

  // === Text === //
  --text-primary: var(--gray-850);
  --text-secondary: var(--gray-800);
  --text-tertiary: var(--black);
  --text-muted: var(--gray-600);

  --text-on-dark-primary: var(--gray-100);
  --text-on-dark-secondary: var(--gray-300);
  --text-on-dark-tertiary: var(--white);

  // === Background === //
  --bg: var(--white);
  --bg-soft: var(--gray-100);
  --bg-muted: var(--gray-200);

  --bg-dark: var(--black);
  --bg-dark-alt: var(--brown);

  // === UI elements === //
  --icon: var(--black);
  --icon-accent: var(--primary);
  --icon-disabled: var(--gray-300);

  --text-btn: var(--black);

  // Layout
  --container-width: #{$container-max-width};
  --container-padding-x: 30px;
  --header-height: #{60px + 30px * 2};

  // Focus outline
  --outline-size: 2px;
  --outline-offset: 2px;

  // Misc
  --transition: 0.3s;
  --header-z: 10;

  // Images
  --noise-url: url('@/assets/images/noise-pattern.avif');

  // Gradients
  --gradient-footer: radial-gradient(
    86% 337% at 0% 100%,
    #513d2f 0%,
    #1a1a1c 100%
  );
  --gradient-hero: radial-gradient(76% 149% at 0% 0%, #5b483a 0%, #262425 100%);
}
