@use 'sass:map';

.footer {
  // 30px @ 768 -> 60px @ 1280
  padding-top: clamp(30px, 5.86vw - 15px, 60px);

  font-size: 20px;
  line-height: 1.15;
  letter-spacing: var(--spacing-wide);

  @include mq('mobile', max) {
    text-align: center;
  }

  background:
    var(--noise-url),
    var(--gradient-footer) var(--bg-dark-alt);
  color: var(--primary);

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    // 40px @ 320 -> 60px @ 768
    gap: clamp(40px, 4.46vi + 25.71px, 60px);

    // 10px @ 320 -> 28px @  768
    padding-inline: clamp(10px, 4.02vw - 2.86px, 28px);

    @include mq('desktop') {
      justify-content: space-between;
    }
  }

  &__contacts,
  &__locations {
    @extend %flex-column;
    gap: 40px;

    @include mq('tablet') {
      gap: 35px;
    }
  }

  &__contacts-list,
  &__locations-list {
    // was 26px
    gap: 33px;
  }

  &__title {
    width: min(280px, 100%);
    color: var(--text-on-dark-tertiary);

    @include mq('mobile', max) {
      br {
        display: none;
      }
    }
  }

  &__contacts-list {
    @extend %flex-column;

    @include mq('tablet-lg') {
      gap: 29px;
    }
  }

  &__link {
    &:has(.footer__icon) {
      display: inline-flex;
      align-items: center;
      gap: 20px;
    }
  }

  &__icon {
    fill: currentColor;
    height: 32px;
  }

  &__contacts-icon {
    width: 40px;
  }

  &__locations-icon {
    width: 22px;
  }

  &__locations-list {
    @extend %flex-column;
    text-align: left;

    @media (min-width: map.get($breakpoints, 'tablet')),
      (max-width: map.get($breakpoints, 'tablet-lg')) {
      translate: -4px -7px;
    }
  }

  &__image {
    // 260px @ 320 -> 300px @ 768
    width: clamp(260px, 8.93vw + 231.43px, 300px);

    @include mq('desktop') {
      margin-top: -16px;
    }
  }
}
