@use 'sass:map';

.header {
  // TODO: change to fixed on stage 3
  --links-color: var(--text-on-dark-secondary);
  --current-link-color: var(--text-on-dark-primary);
  --link-hover-color: var(--text-on-dark-primary);

  @include mq('tablet', max) {
    --links-color: var(--text-on-dark-primary);
  }

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--header-z);

  height: var(--header-height);
  padding-block: 30px;

  background-color: transparent;
  color: var(--white);

  &--fixed,
  &--on-light {
    --links-color: var(--text-secondary);
    --current-link-color: var(--text-secondary);
    --link-hover-color: var(--text-tertiary);

    .logo__text {
      color: var(--text-secondary);
    }

    .logo__caption {
      color: var(--text-tertiary);
    }
  }

  &--fixed {
    position: fixed;

    background-color: var(--white);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
